html {
    box-sizing: border-box;
}
@font-face {
    src: url(font/Montserrat-Medium.ttf);
    font-family: monserrat;
}
.container {
    background-color: rgb(255, 255, 255);
    max-width: auto;
    font-family:'Montserrat', sans-serif;
    padding: 30px;
    margin: 100px;
    margin-top: 10px;
}

.seccion {
  column-count: 2;
display: table-row-group;
margin: 0%;
}

#foto {
    display:initial;
}
#name {
  color: black;
  text-align: center;
  border-radius: 4px;
  overflow: hidden;
  display: inline;
  margin: 0%;
}

.titulo {
  padding-top: 12px;
  color: black;
  text-align:center;
  padding: 10px;
  line-height: 25px;
  border-radius: 4px;
  overflow: hidden;
  display: inline;
  margin: 0%;
}
.links {
  display: flex;

}