body{
    background-image: url('background.jpg');
    background-size: cover;
}
#container{
    display: flex;
    flex-direction: row;
    width: 850px;
    height: 1150px;
    font-family: Helvetica;
    font-size: 14px;
    text-align: justify;
    background-color: white;
    font-weight: bold;
    padding: 0em 25em;
    margin: 0px;
    background-clip: content-box;
}
.menu{
    width: 35%;
    background-color: #00a79d;
    height: 100%;
}
.content{
    width: 65%;
}
#photo{
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}
img{
    height: 66%;
    border-radius: 30em;
    border: 3000rem;
}
.contact{
    height: 12%;
}
.contact-info{
    height: 1.5em;
    text-align: left;
    padding-left: 2rem;;
}
.contact-info p{
    display: inline-block;
    color: white;
    margin: 0em;
    text-align: left;
}
.icon{
    width: 1.2rem;
    height: 1.2rem;
}
a:hover {
    color: #085b56;
  }
  a:link {
    color: white;
  }
  a:visited {
    color: white;
  }
.menu-info{
    height: 23%;
    color: white;
    text-align: center;
}
#about-me{
    text-align: justify;
    margin-right: 3.5em;
    margin-left: 2.5em;
    margin-top: 2em;
}
.menu .menu-info h3{
    background-color: #085b56;
    width: 90%;
    text-align: center;
}
ul{
    list-style: none;
    text-align: justify;
    margin-top: 3em;
}
.w3-progress-container {
    width: 45%;
    height: 1em;
    position: relative;
    background-color: #ffffff;
    background-clip: content-box;
    margin-left: 12px;
  }
  .w3-progressbar {
    background-color: #085b56;
    height: 100%;
    line-height: inherit;
    background-clip: content-box;
  }
  #languages{
    display: flex;
    flex-wrap: wrap;  
    width: 80%;
    flex-direction: row;
    justify-content: center;
    margin-left: 25px;
    overflow: auto;
    padding-top: 3em;
}
  #languages p{
      text-align: justify;
      padding-right: 15px;
  }
  h1{
      font-size: 2.2rem;
      width: 100%;
      text-align: center;
      margin-bottom: 0ex;
      margin-left: 2rem;
      font-family: Helvetica;
  }
  .content{
      padding-right: 3em;
  }
  .content-info-title p {
      margin-top: 10px;
      text-align: center;
      margin-bottom: 40px;
      margin-left: 3.7rem;
      text-align: left;
      font-size: large;
  }
  .content-info{
      height: auto;
      margin-left: 3.4rem;

  }
  .box{
      background-color: #085b56;
      height: 14px;
      width: 12%;
      display: inline-block;
  }
  h2{
      display: inline-block;
      margin: 1ex;
      font-family: Helvetica;
      font-size: medium;
  }
  .box-info{
      display: flex;
      width: 100%;
      margin: 0px;
      text-align: justify;
      margin-top: 1em;
  }
  .jobs{
    text-align: justify;
    margin-top: 0px;
}
  .years{
      width: 20%;
      margin-right: 3em;
      margin-top: 0px;
      text-align: right;
  }
h3{
    margin: 0px;
    font-family: Helvetica;
    font-size: medium;
}
.info{
    width: 80%;
    display: inline-block;
    font-size: medium;
}
.prog-lang{
    text-align: left;
    margin-left: 6.5rem;
    margin-top: 14px;
}
