html {
    box-sizing: border-box;
}
@font-face {
    src: url(font/Montserrat-Medium.ttf);
    font-family: monserrat;
}
body{
  text-align: center;
}
a:visited{
  color: rgb(28, 33, 51);
}
a:link{
  color: rgb(28, 33, 51);
}
a:hover{
  color: rgb(23, 139, 95);
}

.container {
    background-color: rgb(255, 255, 255);
    max-width: auto;
    font-family:'Montserrat', sans-serif;
    width: 99%;
    height: 99%;
    margin: 5%;
    display: grid;
    grid-template-columns: 25% 75%;
}
.datos{
justify-content: center;
text-align: center;
display: grid;
width: 100%;
background-color: rgba(31, 36, 48, 0.171);
padding-top: 5%;
}
.image{
  width: 75%;
  justify-content: center;
  padding-left: 10%;
  height: 25%;
}
#foto {
    display:initial;
    width: 80%;
    height: auto;
}
.subdatos{
  height: 37%;
}
.links {
  display: grid;
  width: 80%;
  padding-left: 16%;
  font-size: 85%;
}
h3{
  height: 15%;
  padding-top: 5%;
}
.link-item{
  display: grid;
  padding-right: 25%;
}
.textod{
  display:grid;
  grid-template-columns: 50% 50%;
  padding-right: 3%;
}
i{
  display: grid;
  height: 35%;
  width: 35%;
  padding-left: 68%;
  padding-top: 15%;
}
.titulo {
  color: black;
  text-align: center;
  border-radius: 4px;
  width: 100%;
  height: 16;
  justify-content: center;
}
#name {
width: 100%;
height: auto;
margin-top: 2%;
padding-left: 7%;
display: flex;
}
#titulo{
width: 100%;
height: auto;
padding-left: 18%;
display: flex;
}
.seccion {
  height: 28%;
  width: 100%;
  display: grid;
}
hgroup{
display: grid;
text-align: left;
grid-template-columns: 10% 90%;
}
.cuadro{
display: grid;
height: 13%;
width: 85%;
background-color: rgba(31, 31, 77, 0.466);
}
.titulos-info{
  padding-top: 3%;
  padding-left: 3%;
}